<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>.tasks{
        display: inline-block;
    }</style>
    <title>Mandi rates daily update</title>

</head>

<body class=bg-info>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">mandi rates</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logins
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="signup">Sign in</a>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>SIGN IN </strong>if you don't have any account. Please sing up !!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <a class="dropdown-item" href="login">login</a>

                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="alog">Admin login <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="search" method="post">{%csrf_token%}
                <input name="loc" class="form-control mr-sm-2" type="search" placeholder="Mandi location" aria-label="Search">
                <input name="state" class="form-control mr-sm-2" type="search" placeholder="State" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="d-inline">

        <div class="card shadow-lg p-3 mb-5 bg-white rounded d-inline-block" style="width: 18rem;">
            <img src="https://source.unsplash.com/400x400/?agriculture,farmer" class="card-img-top" alt="...photos...">
            <div class="card-body">
                <h5 class="card-title">NEWS</h5>
                <p class="card-text">here we put news related to madi and agriculture sector.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{news1}}</li>
                <li class="list-group-item bg-warning">{{news2}}</li>
                <li class="list-group-item">{{news3}}</li>
            </ul>
        </div>
        <div class="d-inline-block">
        <strong>This site is for farmers. Here we update daily update rates of mandi<br>Here
        a farmer can see daily rates of every crops of their near mandis .so they can see rates before going mandi </strong>
            </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    </div>
    <div class="card">
        <div class="card-header">
            about site
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>this site is in developing phase .we are trying hard for this site.</p>
                <footer class="blockquote-footer">mini project work <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</body>

</html>